.Btn_gray {
  margin: 10px 0;
  width: 100%;
}
.Btn_gray input {
  font-size: 15px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #F5F5F5;
  color: #333333;
  border-radius: 20px !important;
  border: none !important;
}
