.Btn_social_bg {
  width: 100%;
  position: fixed;
  bottom: 60px;
  left: 0;
  padding: 0 23px;
  box-sizing: border-box;
}

.Btn_social_bg .Btn_social_bg_inner {
  margin: 0 auto;
  width: 100%;
}
.Btn_social_bg .Btn_social_bg_inner h1 {
  color: #aaaaaa;
  font-size: 14px;
  font-weight: 300;
}
.Btn_social_bg .Btn_social_bg_inner .btn_item {
  margin: 5px 0;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 44px;
  line-height: 44px;
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
  color: #ffffff;
}
.Btn_social_bg .Btn_social_bg_inner button .iconImg {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  width: 20px;
}
.Btn_social_bg .Btn_social_bg_inner button span {
  margin-left: 26px;
}
.Btn_social_bg .Btn_social_bg_inner .icon_naver {
  background-color: #00bf19;
}
.Btn_social_bg .Btn_social_bg_inner .icon_kakao {
  background-color: #fce000;
}
.Btn_social_bg .Btn_social_bg_inner .icon_face {
  background-color: #4267b2;
}
.Btn_social_bg .Btn_social_bg_inner .icon_email {
  background-color: #333333;
}
