.Btn_social {
  width: 100%;
  position: fixed;
  bottom: 60px;
  left: 0;
  padding: 0 23px;
  box-sizing: border-box;
}
.Btn_social h1 {
  color: #aaaaaa;
  font-size: 14px;
  font-weight: 300;
}

.Btn_social .Btn_social_inner {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Btn_social .Btn_social_inner button {
  margin: 5px 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 43px;
  line-height: 43px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  color: #777777;
}
.Btn_social .Btn_social_inner button .iconImg {
  margin-left: 26px;
  display: flex;
  justify-content: center;
  width: 20px;
}
.Btn_social .Btn_social_inner button span {
  margin-left: 26px;
}
