.gnb {
  width: 100%;
  height: 45px;
}

.gnb .gnb_inner {
  width: 100%;
  height: 100%;
}
.gnb .gnb_inner ul {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.gnb .gnb_inner ul .gnb_inner_item {
  margin-right: 15px;
}
.gnb .gnb_inner ul .gnb_inner_item a {
  font-size: 16px;
  font-weight: 500;
}
