.header {
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  height: 48px;
  background: #ffffff;
  z-index: 9;
}
.header .header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header_inner .header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header_inner .header_icon_item .icon_img {
  padding: 12px 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.header .header_inner .header_icon_item .icon_img.onAlarm::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -2px;
  top: 10px;
  width: 12px;
  height: 12px;
  background-color: #8dc63f;
  border-radius: 50%;
}
