.Login {
  padding: 0 32px;
  box-sizing: border-box;
  width: 100%;
}
.Login .back_header {
  margin-bottom: 27px;
}
.Login form::after {
  content: "";
  display: block;
  clear: both;
}
.Login form li {
  margin-bottom: 15px;
}
.Login form span {
  display: inline-block;
  margin: 3px;
  font-size: 13px;
  font-weight: 500;
  color: #aaaaaa;
}
.Login form input {
  padding: 0 5px;
  width: -webkit-fill-available;
  height: 42px;
  line-height: 42px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}
.Login form input::placeholder {
  font-size: 14px;
  color: #cccccc;
}
.Login form button {
  margin-bottom: 27px;
  width: auto;
  float: right;
  border: none;
}
.Login form .findBtn {
  font-size: 14px;
  color: #777777;
}
.Login .Social_login_btn_2 .Social_login_btn_2_inner > img {
  display: none;
}
