.Login {
  padding: 0 32px;
  box-sizing: border-box;
  width: 100%;
}
/* back_header */
.Login .back_header {
  margin-bottom: 27px;
}
.Login .Btn_navy input.gray {
  border: none;
}
/* form */
.Login form::after {
  content: "";
  display: block;
  clear: both;
}
.Login form li {
  position: relative;
  margin-bottom: 15px;
}
.Login form span {
  display: inline-block;
  margin: 3px;
  font-size: 13px;
  font-weight: 500;
  color: #aaaaaa;
}

.Login form li.check_ok::after {
  content: "";
  display: inline-block;
  background-image: url(../img/icon_confirm.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 19px;
  height: 15px;
  position: absolute;
  right: 14px;
  top: 39px;
}
.Login form li.check_error::after {
  content: "";
  display: inline-block;
  background-image: url(../img/icon_fail.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 14px;
  top: 39px;
}
.Login form input::placeholder {
  font-size: 14px;
  color: #cccccc;
}
.Login form button {
  margin-bottom: 27px;
  width: auto;
  float: right;
  border: none;
}
.Login form .findBtn {
  font-size: 14px;
  color: #777777;
}
.Login .Btn_social_bg .Btn_social_bg_inner > img {
  display: none;
}
