.Login_btn {
  margin: 10px 0;
  width: 100%;
}
.Login_btn input {
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  background-color: #0B234A;
  color: #ffffff;
  border-radius: 20px !important;

}
