.find_idpw {
  padding: 0 16px;
  box-sizing: border-box;
  display: block !important;
  width: 100%;
}
.find_idpw .find_idpw_inner {
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 30%;
}

.find_idpw .find_idpw_inner h3 {
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}
.find_idpw .find_idpw_inner .find_idpw_wrap {
  margin-top: 44px;
}
.Btn_navy {
  margin: 12px 0;
}
.find_idpw .find_idpw_inner .Btn_navy input {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
