.find_pw_reset {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}
/* back_header_inner */
.find_pw_reset .back_header_inner {
  position: relative;
}

.find_pw_reset .back_header_inner .icon_home {
  position: absolute;
  right: 0;
}
/* find_id_complete_inner */
.find_pw_reset_inner {
  padding: 0 16px;
  box-sizing: border-box;
}
.find_pw_reset_inner .inner_content_text {
  margin: 30px 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.75px;
  color: #777777;
}
.find_pw_reset_inner .input_password span {
  margin: 3px 8px;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  color: #aaaaaa;
}
.find_pw_reset_inner .input_unit{
  margin: 8px 0;
}
.find_pw_reset_inner .Btn_navy{
  position: fixed;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  bottom: 31px;
  padding: 0 32px;
}
