.find_auth {
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
}
.find_auth .back_header_inner {
  position: relative;
  width: 100%;
}
.find_auth .back_header_inner button {
  width: auto;
  border: none;
  position: absolute;
  right: 0;
}
.find_auth .find_auth_inner {
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
}

/* find_auth_inner > form */
.find_auth .find_auth_inner span {
  display: inline-block;
  margin-bottom: 5px;
  padding: 0 8px;
  font-size: 13px;
  font-weight: 600;
  color: #aaaaaa;
}
.find_auth .find_auth_inner .input_email,
.find_auth .find_auth_inner .input_name,
.find_auth .find_auth_inner .input_number {
  margin: 17px 0;
}
.find_auth .find_auth_inner .input_number .input_wrap {
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.find_auth .find_auth_inner .input_number .input_wrap .input_unit {
  width: calc(100% - 96px);
}
.find_auth .find_auth_inner .input_number input {
  width: calc(100% - 4px);
}
.find_auth .find_auth_inner .input_number button {
  margin-left: 4px;
  padding: 0 5px;
  display: inline-block;
  width: 96px;
  height: 48px;
  line-height: 48px;
  background-color: #f5f5f5;
  border: none;
  color: #cccccc;
  font-size: 13px;
  font-weight: 400;
  border-radius: 8px;
}
.find_auth .find_auth_inner .input_number button.on {
  background-color: #0b234a;
  color: #ffffff;
}
.find_auth .find_auth_inner .input_number .timer {
  padding: 0;
  position: absolute;
  right: 17px;
  font-size: 14px;
  font-weight: 600;
  color: #0b234a;
}

.find_auth .find_auth_inner .Btn_navy {
  position: fixed;
  bottom: 31px;
  width: 100%;
  left: 0;
  padding: 0 32px;
  box-sizing: border-box;
}
