.Find_pw_reset {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}
.Find_pw_reset .back_header{
  margin-bottom: 0;
}
/* find_id_complete_inner */
.Find_pw_reset_inner {
  padding: 0 16px;
  box-sizing: border-box;
}
.Find_pw_reset_inner .inner_content_text {
  margin: 30px 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.75px;
  color: #777777;
}
.Find_pw_reset_inner .input_password span {
  margin: 3px 8px;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  color: #aaaaaa;
}
.Find_pw_reset_inner .input_unit {
  margin: 8px 0;
}
.Find_pw_reset .Btn_gray {
  color: #999999;
}
.Find_pw_reset.checkAll .Btn_gray {
  color: #ffffff;
  background-color: #0b234a;
}
