/* --------- .openModal 추가시 모달창 오픈 ------- */
.Market.openModal .modal_wrapper {
  display: none;
}

/* ------------------- Market ---------------- */

.Market {
  width: 100%;
}

/* ---------------- back_header ---------------- */

.Market .back_header {
  background-color: #0b234a !important;
}
.Market .back_header .back_header_inner select {
  font-size: 18px;
  font-weight: 500;
  color: #ebebeb;
}
.Market .back_header .back_header_inner .header_icon_item.icon_back {
  visibility: hidden;
}

/* ---------------- Market_contents ---------------- */

.Market_contents {
  position: relative;
  height: 100vh;
  width: 100%;
}
.Market_contents table {
  width: 100%;
  border-collapse: collapse;
}
.Market_contents table thead {
  position: fixed;
  width: 100%;
  top: 48px;
  left: 0;
  z-index: 9;
  text-align: left;
  background-color: #0b234a;
}
.Market_contents table thead tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Market_contents table thead th {
  padding: 11px 16px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 300;
  color: #cccccc;
}
.Market_contents table tbody {
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
}
.Market_contents table tbody tr {
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #ebebeb;
}
.Market_contents table tbody th {
  padding: 0 16px;
  text-align: left;
  font-size: 15px;
}
.Market_contents table tbody .productName {
  width: 30%;
  font-weight: 600;
  color: #222222;
}
.Market_contents table tbody .price {
  font-weight: 500;
  color: #333333;
}

.Market_contents table tbody .info_compared {
  position: relative;
  font-size: 14px;
  font-weight: 600;
}
.Market_contents table tbody .info_compared.up {
  color: #ff1414;
}
.Market_contents table tbody .info_compared.down {
  color: #1e66ed;
}
.Market_contents table tbody .info_compared::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 6px;
  background-image: url(./img/icon_equal_flow.png);
  background-repeat: no-repeat;
}
.Market_contents table tbody .info_compared.up::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 6px;
  background-image: url(./img/icon_up_flow.png);
  background-repeat: no-repeat;
}
.Market_contents table tbody .info_compared.down::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 6px;
  background-image: url(./img/icon_down_flow.png);
  background-repeat: no-repeat;
}
.Market_contents table tbody .info_compared span {
  font-size: 12px;
  font-weight: 400;
  color: #777777;
}
.Market_contents table tbody .regi_quantity {
  font-size: 14px;
  font-weight: 400;
  color: #555555;
}

/* empty */
.Market_contents.empty {
  padding: 0 32px;
  margin: 50px 0;
  text-align: center;
}
.Market_contents.empty h2 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}
.Market_contents.empty p {
  font-size: 14px;
  font-weight: 400;
  color: #777777;
}
.Market_contents.empty .input_search {
  margin: 54px 0;
}
