.Notice {
  width: 100%;
}
.Notice .back_header {
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box;
}
.Notice .back_header .back_header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  line-height: 48px;
}
.Order .back_header .back_header_inner .Order_items{
  height: 48px;
}
.Order .back_header .back_header_inner .header_icon_item {
  width: 48px;
  height: 100%;
}
.Order .back_header .back_header_inner .header_icon_item .icon_img {
  height: 48px;
  text-align: center;
  align-items: center;
  display: flex;
}
.Order .back_header .back_header_inner .header_icon_item.icon_back .icon_img{
  justify-content: flex-start;
}
.Order .back_header .back_header_inner .header_icon_item.icon_favorites .icon_img{
  justify-content: flex-end;
}
















.Notice_contents .Notice_text {
  padding: 0 16px;
  display: block;
  height: 32px;
  line-height: 32px;
  font-size: 13px;
  font-weight: 400;
  color: #cccccc;
  background-color: #f9f9f9;
}
.Notice_contents .header-area{
    border-bottom: 1px solid #ebebeb;
}
