/* ------------------- Order ---------------- */

.Order {
  width: 100%;
}

/* ---------------- back_header ---------------- */

.Order .back_header {
  padding: 0 16px;
  box-sizing: border-box;

  position: fixed;
  width: 100%;
  height: 45px;
  top: 0px;
  margin: 0px;
}
.Order .back_header .back_header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  line-height: 48px;
}
.Order .back_header .back_header_inner .Order_items{
  height: 48px;
}
.Order .back_header .back_header_inner .header_icon_item {
  width: 48px;
  height: 100%;
}
.Order .back_header .back_header_inner .header_icon_item .icon_img {
  display: flex;
  align-items: center;
  height: 48px;
  text-align: center;
}
.Order .back_header .back_header_inner .header_icon_item.icon_back .icon_img{
  justify-content: flex-start;
}
.Order .back_header .back_header_inner .header_icon_item.icon_favorites .icon_img{
  justify-content: flex-end;
}

/* ---------------- Order_contents ---------------- */

.Order .Order_inner {
  width: 100%;
  position: fixed;
  top: 50px;
  width: 100%;
}
.Order .Order_contents{
  padding-top: 90px;
}
.Order .Order_inner ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #ebebeb;
}
.Order .Order_inner ul li {
  width: calc(100% / 5);
  height: 38px;
  line-height: 38px;
  text-align: center;
}
.Order .Order_inner ul li a,
.Order .Order_inner ul li span {
  font-size: 15px;
  font-weight: 400;
  color: #777777;
}
.Order .Order_inner ul li.on {
  border-bottom: 2px solid #0b234a;
  box-sizing: border-box;
}
.Order .Order_inner ul li.on a {
  font-weight: 600;
  color: #0b234a;
}
