.SignUp {
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
}
.SignUp .SinUp_inner {
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
}
.SignUp .SinUp_inner .SinUp_inner_item {
  margin: 20px 0;
}
.SignUp .SinUp_inner .SinUp_inner_item li{
  margin: 10px 0;
}
.SignUp .SinUp_inner .SinUp_inner_item > li:first-child {
  border-bottom: solid 1px #ebebeb;
}
.SignUp .SinUp_inner .SinUp_inner_item > span {
  margin: 0 8px;
}
.SignUp .SinUp_inner .SinUp_inner_item span {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 600;
  color: #aaaaaa;
}
.SignUp .SinUp_inner .input_password .input_unit {
  margin-bottom: 8px;
}
.SignUp .SinUp_inner .footer_fixed {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  bottom: 31px;
  left: 0;
  padding: 0 32px;
}
.SignUp .SinUp_inner .Policy_inner {
  margin-bottom: 40px;
}
.SignUp .SinUp_inner .Policy_inner span {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 400;
  color: #555555;
}
