.Tab1 {
  width: 100%;
}
.Tab1_contents {
  width: 100%;
  display: flex;
}
.Tab1_contents.top {
  position: relative;
}

.Tab1_contents.top .sell_items,
.Tab1_contents.btm .buy_items {
  flex: 2;
}

.Tab1_contents.btm {
  flex-direction: row-reverse;
  border-top: solid 1px #ebebeb;
}

.Tab1_contents .sell_item:active .price,
.Tab1_contents .buy_item:active .price {
  height: 38px;
  line-height: 38px;
  border: 2px solid #96ea24;
  box-sizing: border-box;
}
.Tab1_contents .sell_item ul,
.Tab1_contents .buy_item ul {
  height: 40px;
  line-height: 40px;
}
.Tab1_contents .side_item {
  flex: 1;
}
.Tab1_contents .sell_item.up .price,
.Tab1_contents .buy_item.up .price {
  color: #bc001d;
}
.Tab1_contents .sell_item.down .price,
.Tab1_contents .buy_item.down .price {
  color: #1752f0;
}
.Tab1_contents .sell_item .price,
.Tab1_contents .buy_item .price {
  color: #333333;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}
.sell_sellQuantity_item,
.buy_buyQuantity_item {
  display: flex;
}
.sell_sellQuantity_item {
  flex-direction: row-reverse;
}
.sell_sellQuantity_item li,
.buy_buyQuantity_item li {
  padding: 0 8px;
  flex: 1;
}
.sell_sellQuantity_item .price,
.buy_buyQuantity_item .price {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}
.sell_sellQuantity_item .price {
  background-color: #f5f9ff;
}
.buy_buyQuantity_item .price {
  background-color: #ffecec;
}
.sell_sellQuantity_item .quantity,
.buy_buyQuantity_item .quantity {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #777777;
}
.sell_sellQuantity_item .quantity .width,
.buy_buyQuantity_item .quantity .width {
  display: inline-block;
  position: absolute;
  margin: 6px auto;
  width: 16px;
  height: 28px;
  opacity: 0.4;
  z-index: 0;
}
.sell_sellQuantity_item .quantity .width {
  right: 0;
  background-color: #c3dcff;
}
.buy_buyQuantity_item .quantity .width {
  left: 0;
  background-color: #ffc7d0;
}

.sell_sellQuantity_item .quantity .width span,
.buy_buyQuantity_item .quantity .width span {
  position: absolute;
  padding: 0 8px;
}
.sell_sellQuantity_item .quantity .width span {
  right: 0;
}
.buy_buyQuantity_item .quantity .width span {
  left: 0;
}
.sell_sellQuantity_item .quantity {
  text-align: right;
}
.buy_buyQuantity_item .quantity {
  text-align: left;
}

.Tab1_contents.top .side_item {
  position: relative;
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.Tab1_contents.top .side_item .side_standard {
  padding: 8px;
  border-bottom: 1px solid #ebebeb;
}
.Tab1_contents.top .side_item .side_static {
  padding: 8px;
}
.Tab1_contents .side_item .tit {
  margin: 3px 0;
  font-size: 12px;
  font-weight: 400;
  color: #777777;
}
.Tab1_contents .side_item .tit span {
  color: #aaaaaa;
}
.Tab1_contents .side_item .price {
  margin: 3px 0;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
}
.Tab1_contents .side_item .flow {
  margin: 6px 0;
  font-size: 14px;
  font-weight: 600;
  color: #ff1414;
}
.Tab1_contents.top .side_item .flow::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 10px;
  background-image: url(./img/icon_up_flow.png);
  background-repeat: no-repeat;
  background-size: 8px 6px;
  background-position: center;
}
.Tab1_contents .side_item .flow span {
  font-size: 12px;
  font-weight: 400;
  color: #777777;
}

.Tab1_contents.btm .side_item table {
  width: 100%;
}
.Tab1_contents.btm .side_item table caption {
  font-size: 12px;
  font-weight: 400;
  color: #555555;
  background-color: #f9f9f9;
}
.Tab1_contents.btm .side_item table th {
  margin: 0 16px;
  font-size: 12px;
  font-weight: 400;
  color: #bc001d;
}

/* 회원권 호가 터치 모달창 : .Tab1 .modal_wrapper */
.Tab1 #modal.on .modal_wrapper {
  display: block;
}
.Tab1 .modal_wrapper {
  display: none;
}
.Tab1 .modal_wrapper .modal {
  padding: 12px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}
