.Tab2 {
  
}
.Tab2 .Tab2_contents{
  padding: 34px 32px;
  box-sizing: border-box;
  width: 100%;
}
.Tab2 .Order_items {
  width: auto;
  box-sizing: border-box;
}
.Tab2 .Order_items .tit {
  font-size: 16px;
  font-weight: 500;
  color: #333333;
}
.Tab2 .Order_items .price {
  font-size: 24px;
  font-weight: 400;
  color: #333333;
}
.Tab2 .Order_items .price span {
  font-size: 28px;
  font-weight: 600;
  color: #222222;
}
.Tab2 .Order_items .info {
  display: flex;
  align-items: center;
}
.Tab2 .Order_items .info .flow {
  margin-right: 11px;
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}
.Tab2 .Order_items .info .flow.up {
  color: #ff1414;
}
.Tab2 .Order_items .info .flow.down {
  color: #1752f0;
}
.Tab2 .Order_items .info .flow.up::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 10px;
  background-image: url(./img/icon_up_flow.png);
  background-repeat: no-repeat;
  background-size: 8px 6px;
  background-position: center;
}
.Tab2 .Order_items .info .flow.down::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 10px;
  background-image: url(./img/icon_down_flow.png);
  background-repeat: no-repeat;
  background-size: 8px 6px;
  background-position: center;
}
.Tab2 .Order_items .info .flow span {
  font-size: 12px;
  font-weight: 400;
  color: #777777;
}
.Tab2 .Order_items .info .quantity {
  font-size: 12px;
  font-weight: 400;
  color: #555555;
}

.Tab2 .terms ul {
  display: flex;
  justify-content: space-between;
}
.Tab2 .terms ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 6);
  height: 40px;
}
.Tab2 .terms ul li a {
  font-size: 15px;
  font-weight: 500;
  color: #0b234a;
}
.Tab2 .terms ul li.on a {
  border-bottom: 3px solid #0b234a;
}



/* ---------------- back_header ---------------- */

.Tab2 .back_header {
  padding: 0 16px;
  box-sizing: border-box;
}
.Tab2 .back_header .back_header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  line-height: 48px;
}
.Tab2 .back_header .back_header_inner .Order_items{
  height: 48px;
}
.Tab2 .back_header .back_header_inner .header_icon_item {
  width: 48px;
  height: 100%;
}
.Tab2 .back_header .back_header_inner .header_icon_item .icon_img {
  display: flex;
  align-items: center;
  height: 48px;
  text-align: center;
}
.Tab2 .back_header .back_header_inner .header_icon_item.icon_back .icon_img{
  justify-content: flex-start;
}
.Tab2 .back_header .back_header_inner .header_icon_item.icon_favorites .icon_img{
  justify-content: flex-end;
}